.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  height: 150px;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 120px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  letter-spacing: 1.25px;
  cursor: pointer;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.55);
}

.login > a:hover {
  background-color: #38c669;
}
