.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  z-index: 10000;
  backdrop-filter: blur(20px);
  /* background-color: rgb(34, 34, 34); */
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
  box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 5px 30px;
}

.header-logo {
  width: 100px;
}

.header-left a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  letter-spacing: 0.4px;
  color: Gray;
  text-decoration: none;
}

.header-left a:hover {
  /* font-weight: 600; */
  letter-spacing: 0.4px;
  transition: 0.25s ease-in-out;
  color: rgb(176, 174, 174);
}

.header-right {
  margin: 5px 30px;
}

.header-right h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: 400;
  letter-spacing: 2px;
  color: gray;
}
