.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  z-index: 10000;
  /* background-color: rgb(34, 34, 34); */
  align-items: center;
  justify-content: space-between;
  background-color: #202124;
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
  box-shadow: 1px 1px 2px 0px rgba(212, 208, 211, 1);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 8px 30px;
}

.header-logo {
  width: 80px;
}

.header-left a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* margin-right: 10px; */
  letter-spacing: 0.4px;
  color: Gray;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 15px;
  transition: 0.28s linear;
}

.header-left a:hover {
  /* font-weight: 600; */
  letter-spacing: 0.4px;
  transition: 0.25s ease-in-out;
  color: rgb(201, 200, 200);
  background-color: #383838d6;
}

.cinetrek {
  /* padding: 10px 15px; */
  letter-spacing: 2px;
  /* border-radius: 12px; */
  border: 1px solid gray;
  border: none;
  color: Gray;
  font-size: 20px;
  font-weight: 600;
  /* background-color: #202124; */
  transition: 0.2s linear;
}

.cinetrek:hover {
  letter-spacing: 2px;
  color: rgb(201, 200, 200);
  /* background-color: #383838d6; */
}

.header-right {
  margin: 5px 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-right h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: 400;
  letter-spacing: 2px;
  color: gray;
}

.header__search__icon {
  position: absolute;
  left: 8px;
}

.form {
  display: flex;
  align-items: center;
}

.search__form {
  padding: 8px 105px 8px 40px;
  border-radius: 20px;
  border: 1px solid rgb(176, 174, 174);
  outline: none;
  color: rgba(255, 255, 255, 0.874);
  font-size: 16px;
  letter-spacing: 2px;
  background-color: transparent;
}

.search__form::placeholder {
  font-size: 14px;

  letter-spacing: 0.25px;
}

.search__form__button {
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 2px 12px;
  margin-left: 20px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background-color: rgba(143, 143, 143, 0.185);
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  outline: none;
  transition: 0.3s linear;
}

.search__form__button:hover {
  background-color: rgba(240, 255, 255, 0.677);
  color: black;
}

.header-right-right {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  /* border: 1px solid gray; */
  padding: 4px 8px;
  border-radius: 12px;
}

.header-right-right > h3 {
  letter-spacing: 1.2px;
  font-weight: 300;
  font-size: 16px;
  color: rgb(176, 174, 174);
  font-family: "Montserrat", sans-serif;
}

.about__author {
  text-decoration: none;
  color: rgb(176, 174, 174);
}

.about__author:focus {
  color: white;
}

/* media queries */
