.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  position: relative;
}

.search__icon_ {
  z-index: 4;
  color: black;
}

.header__left > input {
  min-width: 120px;
  padding: 10px 12px;
  padding-left: 40px;
  border-radius: 20px;
  border: none;
  position: absolute;
  left: -8px;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
