.movie__list__container {
  margin-top: 83px;
}

.search__container {
  /* margin-bottom: 50px; */
}

.movie__list {
  padding: 0 3rem 2rem 3rem;
}

.movieList__title {
  font-size: 2rem;
  margin: 3rem;
  color: rgb(178, 176, 176);
  letter-spacing: 5px;
  font-weight: 400;
  font-family: "Gloock", serif;
  background: linear-gradient(
    to bottom right,
    #b7b7b7,
    #a1a1a1,
    #7e7e7e,
    #595959
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 3s linear infinite;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(173, 173, 173, 0.603);
  /* animation: color-change 3s ease-in-out 3s infinite; */
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.list__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  .movieList__title {
    font-size: 24px;
    max-width: 350px;
    margin-top: 80px;
    line-height: 30px;
  }

  .movie__list__container {
    margin-top: 40px;
  }

  .movie__list {
    padding: -30px 3rem 2rem 3rem;
  }
}
